:root {
    --gradient-background-0: linear-gradient(to right, #f3904f, #3b4371);
    --gradient-background-1: radial-gradient(311px at 8.6% 27.9%,
            rgba(62, 147, 252, 0.57) 12.9%,
            rgba(239, 183, 192, 0.44) 91.2%);
    --gradient-background-2: radial-gradient(circle at 10% 20%,
            rgb(176, 229, 208) 42%,
            rgba(92, 202, 238, 0.41) 93.6%);
    --gradient-background-3: linear-gradient(184.1deg,
            rgb(249, 255, 182) 44.7%,
            rgb(226, 255, 172) 67.2%);
    --gradient-background-4: linear-gradient(111.4deg,
            rgb(238, 113, 113) 1%,
            rgb(246, 215, 148) 58%);
    --gradient-background-5: radial-gradient(897px at 9% 80.3%,
            rgb(55, 60, 245) 0%,
            rgba(234, 161, 15, 0.9) 100.2%);
    --gradient-background-6: linear-gradient(180.7deg,
            rgb(0, 213, 255) 2.5%,
            rgb(79, 255, 255) 97.7%);
    --gradient-background-7: linear-gradient(90.2deg,
            rgb(79, 255, 255) 0.3%,
            rgb(0, 213, 255) 99.8%);
    --gradient-background-8: linear-gradient(109.6deg,
            rgb(61, 131, 97) 11.2%,
            rgb(28, 103, 88) 91.1%);
    --gradient-background-9: radial-gradient(975px at 2.6% 48.3%,
            rgb(0, 8, 120) 0%,
            rgb(95, 184, 224) 99.7%);
    --gradient-background-10: radial-gradient(circle at 10% 20%,
            rgb(100, 43, 115) 0%,
            rgb(4, 0, 4) 90%);
    --gradient-background-11: radial-gradient(circle at 17.1% 22.8%,
            rgb(226, 24, 24) 0%,
            rgb(160, 6, 6) 90%);
    --gradient-background-12: radial-gradient(circle at 10% 20%,
            rgb(249, 232, 51) 0%,
            rgb(250, 196, 59) 100.2%);
    --gradient-background-13: linear-gradient(58.2deg,
            rgba(40, 91, 212, 0.73) -3%,
            rgba(171, 53, 163, 0.45) 49.3%,
            rgba(255, 204, 112, 0.37) 97.7%);
    --gradient-background-14: linear-gradient(111.4deg,
            rgb(7, 7, 9) 6.5%,
            rgb(27, 24, 113) 93.2%);
    --gradient-background-15: linear-gradient(288deg,
            rgb(0, 85, 255) 1.5%,
            rgb(4, 56, 115) 91.6%);
    --gradient-background-16: linear-gradient(90.1deg,
            rgb(84, 212, 228) 0.2%,
            rgb(68, 36, 164) 99.9%);
    --gradient-background-17: radial-gradient(circle at 0.2% 0.5%,
            rgb(68, 36, 164) 3.7%,
            rgb(84, 212, 228) 92.7%);
    --gradient-background-18: linear-gradient(270.3deg,
            rgb(84, 212, 228) 0.2%,
            rgb(68, 36, 164) 100%);
    --gradient-background-19: linear-gradient(179deg,
            rgb(0, 0, 0) 9.2%,
            rgb(127, 16, 16) 103.9%);
    --gradient-background-20: linear-gradient(91deg,
            rgb(72, 154, 78) 5.2%,
            rgb(251, 206, 70) 95.9%);
    --gradient-background-21: radial-gradient(circle at 10% 20%,
            rgb(38, 51, 97) 0%,
            rgb(65, 143, 222) 79%);
    --gradient-background-22: linear-gradient(86.3deg,
            rgb(0, 119, 182) 3.6%,
            rgb(8, 24, 68) 87.6%);
    --gradient-background-23: radial-gradient(circle at 10% 20%,
            rgba(237, 3, 32, 0.87) 20.8%,
            rgba(242, 121, 1, 0.84) 74.4%);
    --gradient-background-24: radial-gradient(763px at 18.3% 24.1%,
            rgb(255, 249, 137) 7.4%,
            rgb(226, 183, 40) 58.3%);
    --gradient-background-25: linear-gradient(173.1deg,
            rgba(226, 66, 249, 0.94) 10.2%,
            rgb(79, 147, 249) 77.3%);
    --gradient-background-26: linear-gradient(108.7deg,
            rgb(221, 22, 224) 11%,
            rgb(111, 22, 190) 88.2%);
    --gradient-background-27: radial-gradient(815px at 23.4% -21.8%,
            rgb(9, 29, 85) 0.2%,
            rgb(0, 0, 0) 100.2%);
    --gradient-background-28: radial-gradient(circle at 10% 20%,
            rgb(0, 160, 187) 0%,
            rgba(0, 188, 219, 0.9) 90%);
    --gradient-background-29: linear-gradient(109.6deg,
            rgb(103, 30, 117) 11.2%,
            rgb(252, 76, 2) 91.1%);
    --gradient-background-30: radial-gradient(325px at 19.2% 64.8%,
            rgb(254, 62, 101) 9.7%,
            rgb(166, 24, 146) 91.3%);
    --gradient-background-31: linear-gradient(109.6deg,
            rgb(254, 253, 205) 11.2%,
            rgb(163, 230, 255) 91.1%);
    --gradient-background-32: radial-gradient(369px at -2.9% 12.9%,
            rgb(247, 234, 163) 0%,
            rgba(236, 180, 238, 0.56) 46.4%,
            rgb(163, 203, 247) 100.7%);
    --gradient-background-33: linear-gradient(109.6deg,
            rgb(102, 51, 153) 11.2%,
            rgb(2, 0, 4) 91.1%);
    --gradient-background-34: linear-gradient(291.7deg,
            rgb(255, 134, 134) 21.5%,
            rgb(249, 141, 255) 93.1%);
    --gradient-background-35: linear-gradient(68.4deg,
            rgb(99, 251, 215) -0.4%,
            rgb(5, 222, 250) 100.2%);
    --gradient-background-36: linear-gradient(102.4deg,
            rgb(253, 189, 85) 7.8%,
            rgb(249, 131, 255) 100.3%);
    --gradient-background-37: radial-gradient(circle at 92.3% 71.5%,
            rgb(83, 138, 214) 0%,
            rgb(134, 231, 214) 90%);
    --gradient-background-38: linear-gradient(174.2deg,
            rgb(255, 244, 228) 7.1%,
            rgb(240, 246, 238) 67.4%);
    --gradient-background-39: radial-gradient(400px at 6.8% 8.3%,
            rgb(255, 244, 169) 0%,
            rgb(255, 244, 234) 100.2%);
    --gradient-background-40: linear-gradient(64.3deg,
            rgba(254, 122, 152, 0.81) 17.7%,
            rgb(255, 206, 134) 64.7%,
            rgba(172, 253, 163, 0.64) 112.1%);
    --gradient-background-41: linear-gradient(83.2deg,
            rgb(150, 93, 233) 10.8%,
            rgb(99, 88, 238) 94.3%);
    --gradient-background-42: radial-gradient(circle at 10% 20%,
            rgb(14, 174, 87) 0%,
            rgb(12, 116, 117) 90%);
    --gradient-background-43: radial-gradient(circle at 10% 20%,
            rgb(255, 209, 67) 0%,
            rgb(255, 145, 83) 90%);
    --gradient-background-44: radial-gradient(860px at 11.8% 33.5%,
            rgb(240, 30, 92) 0%,
            rgb(244, 49, 74) 30.5%,
            rgb(249, 75, 37) 56.1%,
            rgb(250, 88, 19) 75.6%,
            rgb(253, 102, 2) 100.2%);
    --gradient-background-45: radial-gradient(circle at 50.7% 54%,
            rgb(204, 254, 152) 0%,
            rgb(229, 253, 190) 92.4%);
    --gradient-background-46: radial-gradient(circle at 10% 20%,
            rgb(147, 67, 67) 0%,
            rgb(111, 27, 27) 90%);
    --gradient-background-47: radial-gradient(610px at 5.2% 51.6%,
            rgb(5, 8, 114) 0%,
            rgb(7, 3, 53) 97.5%);
    --gradient-background-48: radial-gradient(circle at 10.2% 55.8%,
            rgb(252, 37, 103) 0%,
            rgb(250, 38, 151) 46.2%,
            rgb(186, 8, 181) 90.1%);
    --gradient-background-49: radial-gradient(circle at 10% 20%,
            rgb(97, 186, 255) 0%,
            rgb(166, 239, 253) 90.1%);
    --gradient-background-50: linear-gradient(68.3deg,
            rgb(245, 177, 97) 0.4%,
            rgb(236, 54, 110) 100.2%);
    --gradient-background-51: radial-gradient(588px at 31.7% 40.2%,
            rgb(225, 200, 239) 21.4%,
            rgb(163, 225, 233) 57.1%);
    --gradient-background-52: linear-gradient(109.6deg,
            rgb(61, 245, 167) 11.2%,
            rgb(9, 111, 224) 91.1%);
    --gradient-background-53: radial-gradient(circle at 10% 20%,
            rgb(255, 94, 247) 17.8%,
            rgb(2, 245, 255) 100.2%);
    --gradient-background-54: radial-gradient(976px at 51.2% 51%,
            rgb(11, 27, 103) 0%,
            rgb(16, 66, 157) 0%,
            rgb(11, 27, 103) 17.3%,
            rgb(11, 27, 103) 58.8%,
            rgb(11, 27, 103) 71.4%,
            rgb(16, 66, 157) 100.2%,
            rgb(187, 187, 187) 100.2%);
    --gradient-background-55: linear-gradient(117deg,
            rgb(123, 216, 96) 39.2%,
            rgb(255, 255, 255) 156.2%);
    --gradient-background-56: linear-gradient(109.6deg,
            rgb(45, 116, 213) 11.2%,
            rgb(121, 137, 212) 91.2%);
    --gradient-background-57: linear-gradient(109.6deg,
            rgb(209, 0, 116) 11.2%,
            rgb(110, 44, 107) 91.1%);
    --gradient-background-58: linear-gradient(64.5deg,
            rgb(245, 116, 185) 14.7%,
            rgb(89, 97, 223) 88.7%);
    --gradient-background-59: linear-gradient(358.4deg,
            rgb(249, 151, 119) -2.1%,
            rgb(98, 58, 162) 90%);
    --gradient-background-60: linear-gradient(132.6deg,
            rgb(71, 139, 214) 23.3%,
            rgb(37, 216, 211) 84.7%);
    --gradient-background-61: linear-gradient(129.1deg,
            rgb(243, 199, 83) 26.8%,
            rgb(18, 235, 207) 114.1%);
    --gradient-background-62: radial-gradient(circle at 10% 20%,
            rgb(171, 102, 255) 0%,
            rgb(116, 182, 247) 90%);
    --gradient-background-63: linear-gradient(134.6deg,
            rgb(201, 37, 107) 15.4%,
            rgb(116, 16, 124) 74.7%);
    --gradient-background-64: radial-gradient(circle at 10% 20%,
            rgba(37, 145, 251, 0.98) 0.1%,
            rgb(0, 7, 128) 99.8%);
    --gradient-background-65: linear-gradient(109.6deg,
            rgb(255, 179, 189) 1.8%,
            rgb(254, 248, 154) 50.6%,
            rgb(161, 224, 186) 100.3%);
    --gradient-background-66: radial-gradient(circle at 10% 20%,
            rgb(0, 152, 155) 0.1%,
            rgb(0, 94, 120) 94.2%);
    --gradient-background-67: radial-gradient(685.3px at 47.8% 55.1%,
            rgb(255, 99, 152) 0%,
            rgb(251, 213, 149) 90.1%);
    --gradient-background-68: linear-gradient(109.6deg,
            rgb(247, 253, 166) 11.2%,
            rgb(128, 255, 221) 57.8%,
            rgb(255, 128, 249) 85.9%);
    --gradient-background-69: linear-gradient(180.4deg,
            rgb(188, 120, 236) -2.2%,
            rgb(29, 133, 163) 83.5%);
    --gradient-background-70: radial-gradient(circle at 14.2% 24%,
            rgb(239, 61, 78) 0%,
            rgba(239, 61, 78, 0.81) 51.8%,
            rgba(239, 61, 78, 0.63) 84.6%);
    --gradient-background-71: linear-gradient(99deg,
            rgb(115, 18, 81) 10.6%,
            rgb(28, 28, 28) 118%);
    --gradient-background-72: linear-gradient(109.6deg,
            rgb(245, 56, 56) 11.2%,
            rgb(234, 192, 117) 78%);
    --gradient-background-73: linear-gradient(109.6deg,
            rgb(118, 12, 99) 11.2%,
            rgb(71, 11, 75) 98.6%);
    --gradient-background-74: linear-gradient(73.1deg,
            rgb(34, 126, 34) 8%,
            rgb(99, 162, 17) 86.9%);
    --gradient-background-75: linear-gradient(179.4deg,
            rgb(132, 56, 122) 14.6%,
            rgb(190, 24, 49) 104.7%);
    --gradient-background-76: radial-gradient(circle at 7.2% 13.6%,
            rgb(37, 249, 245) 0%,
            rgb(8, 70, 218) 90%);
    --gradient-background-77: radial-gradient(489px at 49.3% 46.6%,
            rgb(255, 214, 126) 0%,
            rgb(253, 200, 0) 100.2%);
    --gradient-background-78: radial-gradient(874px at 9.8% 8%,
            rgb(255, 20, 175) 0%,
            rgb(22, 22, 22) 58.4%);
    --gradient-background-79: linear-gradient(109.6deg,
            rgb(231, 76, 60) 11.2%,
            rgb(203, 67, 53) 91.1%);
    --gradient-background-80: radial-gradient(circle at 10% 20%,
            rgb(247, 87, 0) 0%,
            rgb(249, 0, 0) 90.1%);
    --gradient-background-81: radial-gradient(957px at 8.7% 50.5%,
            rgb(246, 191, 13) 0%,
            rgb(249, 47, 47) 90%);
    --gradient-background-82: linear-gradient(178.9deg,
            rgb(176, 57, 105) 5.1%,
            rgb(229, 113, 159) 109.3%);
    --gradient-background-83: linear-gradient(106.9deg,
            rgb(148, 14, 60) 60.9%,
            rgb(3, 22, 27) 122.3%);
    --gradient-background-84: linear-gradient(96.5deg,
            rgb(39, 103, 187) 10.4%,
            rgb(16, 72, 144) 87.7%);
    --gradient-background-85: radial-gradient(905.6px at 4.9% 7.9%,
            rgb(218, 0, 0) 14.1%,
            rgb(168, 2, 144) 65%,
            rgb(102, 2, 110) 90%);
    --gradient-background-86: radial-gradient(circle at 10% 20%,
            rgb(245, 0, 87) 0%,
            rgb(185, 1, 81) 90%);
    --gradient-background-87: radial-gradient(circle at -4.5% 34.3%,
            rgb(13, 20, 174) 0%,
            rgb(243, 165, 140) 90%);
    --gradient-background-88: radial-gradient(941px at 2.6% 6.8%,
            rgba(124, 74, 228, 0.81) 15.9%,
            rgba(249, 208, 40, 0.7) 88.6%);
    --gradient-background-89: radial-gradient(circle at 10% 20%,
            rgb(0, 221, 214) 0%,
            rgb(51, 102, 255) 90%);
    --gradient-background-90: linear-gradient(108deg,
            rgb(242, 245, 139) 17.7%,
            rgba(148, 197, 20, 0.68) 91.2%);
    --gradient-background-91: radial-gradient(circle at 10% 20%,
            rgb(162, 102, 246) 0%,
            rgb(203, 159, 249) 90%);
    --gradient-background-92: linear-gradient(89.4deg,
            rgb(194, 0, 39) 0.8%,
            rgb(10, 35, 104) 99.4%);
    --gradient-background-93: linear-gradient(89.9deg,
            rgb(255, 243, 110) 16.9%,
            rgb(30, 204, 214) 55.1%,
            rgb(5, 54, 154) 90.7%);
    --gradient-background-94: radial-gradient(1259px at 2.8% 48.8%,
            rgb(255, 243, 110) 0%,
            rgb(30, 204, 214) 45.6%,
            rgb(5, 54, 154) 65.9%);
    --gradient-background-95: linear-gradient(103.3deg,
            rgb(252, 225, 208) 30%,
            rgb(255, 173, 214) 55.7%,
            rgb(162, 186, 245) 81.8%);
    --gradient-background-96: radial-gradient(420px at -10.9% -25.7%,
            rgb(223, 5, 5) 0%,
            rgb(235, 244, 60) 90.5%);
    --gradient-background-97: radial-gradient(674px at 18.3% 77%,
            rgb(139, 186, 244) 3.4%,
            rgb(15, 51, 92) 56.6%);
    --gradient-background-98: radial-gradient(circle at 32.7% 82.7%,
            rgb(173, 0, 171) 8.3%,
            rgb(15, 51, 92) 79.4%);
    --gradient-background-99: radial-gradient(circle at 83.7% 4.3%,
            rgb(173, 0, 171) 0%,
            rgb(15, 51, 92) 90%);
    --gradient-background-100: radial-gradient(780.6px at 10% 20%,
            rgb(133, 255, 189) 0%,
            rgb(255, 251, 125) 90.7%);
    --gradient-background-101: linear-gradient(105.5deg,
            rgb(31, 212, 248) 11%,
            rgb(218, 15, 183) 74.9%);
    --gradient-background-102: linear-gradient(63.1deg,
            rgb(5, 23, 111) 16.4%,
            rgb(24, 95, 240) 64.5%);
    --gradient-background-103: radial-gradient(circle at 10% 20%,
            rgb(235, 131, 130) 0%,
            rgba(235, 131, 130, 0.75) 38.6%,
            rgba(211, 177, 125, 0.52) 72.1%,
            rgba(211, 177, 125, 0.24) 94.7%);
    --gradient-background-104: linear-gradient(180.5deg,
            rgb(46, 255, 171) 12.3%,
            rgba(252, 251, 222, 0.46) 92%);
    --gradient-background-105: linear-gradient(109.6deg,
            rgb(24, 138, 141) 11.2%,
            rgb(96, 221, 142) 91.1%);
    --gradient-background-106: linear-gradient(126.3deg,
            rgb(30, 2, 83) 32.2%,
            rgba(198, 55, 160, 0.46) 109.2%);
    --gradient-background-107: linear-gradient(110.1deg,
            rgb(30, 2, 83) 44.2%,
            rgb(198, 55, 160) 138.2%);
    --gradient-background-108: linear-gradient(92.7deg,
            rgb(245, 212, 212) 8.5%,
            rgb(252, 251, 224) 90.2%);
    --gradient-background-109: linear-gradient(109.6deg,
            rgb(15, 2, 2) 11.2%,
            rgb(36, 163, 190) 91.1%);
    --gradient-background-110: linear-gradient(109.6deg,
            rgb(62, 161, 219) 11.2%,
            rgb(93, 52, 236) 100.2%);
    --gradient-background-111: radial-gradient(759px at -6.7% 50%,
            rgb(80, 131, 73) 0%,
            rgb(140, 209, 131) 26.2%,
            rgb(178, 231, 170) 50.6%,
            rgb(144, 213, 135) 74.1%,
            rgb(75, 118, 69) 100.3%);
    --gradient-background-112: radial-gradient(597px at 93% 9.8%,
            rgb(255, 61, 89) 1.7%,
            rgb(252, 251, 44) 97%);
    --gradient-background-113: linear-gradient(68.2deg,
            rgb(255, 202, 88) 0%,
            rgb(139, 73, 255) 100.2%);
    --gradient-background-114: linear-gradient(90.5deg,
            rgba(255, 207, 139, 0.5) 1.1%,
            rgb(255, 207, 139) 81.3%);
    --gradient-background-115: linear-gradient(109.9deg,
            rgb(251, 189, 100) 1.8%,
            rgb(255, 207, 139) 95.4%);
    --gradient-background-116: linear-gradient(179.4deg,
            rgb(33, 150, 243) 1.8%,
            rgba(22, 255, 245, 0.6) 97.1%);
    --gradient-background-117: radial-gradient(circle at 10% 20%,
            rgb(161, 255, 255) 11.3%,
            rgb(6, 255, 255) 41.2%,
            rgb(0, 216, 216) 77.8%);
    --gradient-background-118: linear-gradient(0.2deg,
            rgb(252, 220, 115) -13.1%,
            rgb(252, 194, 115) 31.9%,
            rgb(241, 84, 84) 69.6%);
    --gradient-background-119: linear-gradient(178.2deg,
            rgb(118, 8, 23) 10.9%,
            rgb(158, 12, 33) 62.6%);
    --gradient-background-120: linear-gradient(69.7deg,
            rgb(244, 37, 243) 1.4%,
            rgb(244, 87, 1) 36.2%,
            rgb(255, 204, 37) 72.2%,
            rgb(20, 196, 6) 113%);
    --gradient-background-121: linear-gradient(89.8deg,
            rgb(222, 74, 74) 4.7%,
            rgb(30, 29, 29) 120.3%);
    --gradient-background-122: linear-gradient(108.9deg,
            rgb(251, 140, 0) 11.2%,
            rgb(0, 139, 155) 88.9%);
    --gradient-background-123: linear-gradient(113.3deg,
            rgb(217, 9, 27) 6.9%,
            rgb(22, 68, 150) 75%);
    --gradient-background-124: radial-gradient(circle at 16.5% 28.1%,
            rgb(15, 27, 49) 0%,
            rgb(0, 112, 218) 90%);
    --gradient-background-125: linear-gradient(112.7deg,
            rgb(253, 185, 83) 11.4%,
            rgb(255, 138, 0) 70.2%);
    --gradient-background-126: linear-gradient(109.6deg,
            rgb(254, 87, 98) 11.2%,
            rgb(255, 107, 161) 99.1%);
    --gradient-background-127: linear-gradient(109.6deg,
            rgb(39, 142, 255) 11.2%,
            rgba(98, 113, 255, 0.78) 100.2%);
    --gradient-background-128: linear-gradient(109.6deg,
            rgb(255, 174, 0) 11.2%,
            rgb(255, 0, 0) 100.2%);
    --gradient-background-129: linear-gradient(102.1deg,
            rgb(96, 221, 142) 8.7%,
            rgb(24, 138, 141) 88.1%);
    --gradient-background-130: radial-gradient(602px at 2.1% 5.1%,
            rgb(233, 0, 120) 0%,
            rgb(0, 0, 0) 90.1%);
    --gradient-background-131: radial-gradient(911px at 0.4% 50.5%,
            rgb(187, 68, 48) 18.7%,
            rgb(21, 30, 33) 90%);
    --gradient-background-132: linear-gradient(105.3deg,
            rgb(30, 39, 107) 21.8%,
            rgb(77, 118, 221) 100.2%);
    --gradient-background-133: radial-gradient(732px at -23.9% -25.1%,
            rgb(30, 39, 107) 6.1%,
            rgb(188, 104, 142) 100.2%);
    --gradient-background-134: linear-gradient(111.2deg,
            rgb(232, 5, 5) 1.7%,
            rgb(245, 49, 191) 98.7%);
    --gradient-background-135: linear-gradient(181deg,
            rgb(225, 109, 245) 6.9%,
            rgb(78, 248, 231) 112.8%);
    --gradient-background-136: linear-gradient(183.5deg,
            rgb(244, 173, 6) 18.6%,
            rgb(229, 251, 31) 119.9%);
    --gradient-background-137: linear-gradient(65.9deg,
            rgb(85, 228, 224) 5.5%,
            rgba(75, 68, 224, 0.74) 54.2%,
            rgb(64, 198, 238) 55.2%,
            rgb(177, 36, 224) 98.4%);
    --gradient-background-138: linear-gradient(67.2deg,
            rgb(37, 208, 199) -7.5%,
            rgb(165, 90, 240) 62.7%);
    --gradient-background-139: linear-gradient(177.8deg,
            rgb(255, 128, 0) 9.2%,
            rgb(232, 211, 59) 86.8%);
    --gradient-background-140: radial-gradient(300px at 8% 89.3%,
            rgb(20, 157, 208) 0%,
            rgb(140, 63, 226) 90%);
    --gradient-background-141: linear-gradient(109.6deg,
            rgb(116, 18, 203) 11.2%,
            rgb(230, 46, 131) 91.2%);
    --gradient-background-142: linear-gradient(110.5deg,
            rgb(71, 114, 148) 14.9%,
            rgb(149, 245, 211) 77.9%);
    --gradient-background-143: linear-gradient(94.3deg,
            rgb(26, 33, 64) 10.9%,
            rgb(81, 84, 115) 87.1%);
    --gradient-background-144: linear-gradient(293.5deg,
            rgb(181, 149, 208) 3.2%,
            rgb(251, 148, 207) 9.9%,
            rgb(181, 149, 208) 22.9%,
            rgb(251, 148, 207) 36.4%,
            rgb(181, 149, 208) 50.1%,
            rgb(251, 148, 207) 61.1%,
            rgb(181, 149, 208) 71.2%,
            rgb(251, 148, 207) 84.2%,
            rgb(181, 149, 208) 92.2%);
    --gradient-background-145: linear-gradient(76.3deg,
            rgb(44, 62, 78) 12.6%,
            rgb(69, 103, 131) 82.8%);
    --gradient-background-146: linear-gradient(97.3deg,
            rgba(25, 50, 70, 0.81) 10.7%,
            rgba(155, 65, 25, 0.72) 39.5%,
            rgba(255, 192, 0, 0.81) 69.7%);
    --gradient-background-147: linear-gradient(rgb(155, 254, 23) 45.5%,
            rgb(36, 243, 8) 97.9%);
    --gradient-background-148: linear-gradient(359.8deg,
            rgb(252, 255, 222) 2.2%,
            rgb(182, 241, 171) 99.3%);
    --gradient-background-149: linear-gradient(111.5deg,
            rgb(254, 210, 255) -7.2%,
            rgb(115, 9, 112) 100.2%);
    --gradient-background-150: linear-gradient(72.1deg,
            rgb(0, 0, 128) 1.7%,
            rgb(100, 149, 237) 99.1%);
    --gradient-background-151: linear-gradient(106.1deg,
            rgba(69, 242, 143, 0.52) 10.2%,
            rgba(14, 228, 175, 0.61) 83.6%);
    --gradient-background-152: linear-gradient(109.6deg,
            rgb(33, 103, 43) 11.3%,
            rgb(117, 162, 61) 91.1%);
    --gradient-background-153: linear-gradient(109.6deg,
            rgb(96, 221, 142) 11.2%,
            rgb(24, 138, 141) 91.1%);
    --gradient-background-154: radial-gradient(circle at 10% 20%,
            rgb(0, 84, 166) 0%,
            rgb(132, 189, 201) 90%);
    --gradient-background-155: radial-gradient(circle at 10% 20%,
            rgb(100, 130, 159) 0%,
            rgb(103, 56, 96) 90%);
    --gradient-background-156: linear-gradient(358.7deg,
            rgb(42, 136, 157) 1.7%,
            rgb(122, 197, 214) 51.1%,
            rgb(211, 232, 242) 95.5%);
    --gradient-background-157: radial-gradient(935px at 3.1% 5.8%,
            rgb(182, 255, 139) 0%,
            rgb(8, 88, 127) 100.2%);
    --gradient-background-158: linear-gradient(109.6deg,
            rgb(0, 191, 165) 11.2%,
            rgb(0, 140, 122) 100.2%);
    --gradient-background-159: linear-gradient(110.3deg,
            rgb(73, 93, 109) 4.3%,
            rgb(49, 55, 82) 96.7%);
    --gradient-background-160: radial-gradient(627px at 16.2% 74.3%,
            rgb(57, 145, 204) 89.9%,
            rgb(187, 187, 187) 90%);
    --gradient-background-161: linear-gradient(109.6deg,
            rgb(255, 115, 68) 11.2%,
            rgb(244, 255, 32) 100.6%);
    --gradient-background-162: linear-gradient(76.9deg,
            rgb(255, 90, 90) 27.2%,
            rgb(130, 5, 255) 79.9%);
    --gradient-background-163: linear-gradient(109.6deg,
            rgb(5, 84, 94) 16%,
            rgb(187, 187, 187) 91.1%);
    --gradient-background-164: linear-gradient(111.6deg,
            rgb(174, 68, 223) 27.3%,
            rgb(246, 135, 135) 112.7%);
    --gradient-background-165: linear-gradient(109.6deg,
            rgb(255, 219, 47) 11.2%,
            rgb(244, 253, 0) 100.2%);
    --gradient-background-166: radial-gradient(circle at 10% 20%,
            rgb(255, 229, 168) 0%,
            rgb(251, 174, 222) 100.7%);
    --gradient-background-167: linear-gradient(109.5deg,
            rgb(229, 233, 177) 11.2%,
            rgb(223, 205, 187) 100.2%);
    --gradient-background-168: radial-gradient(circle at 10% 20%,
            rgb(153, 103, 186) 41.2%,
            rgb(0, 113, 227) 90%);
    --gradient-background-169: linear-gradient(109.6deg,
            rgb(238, 58, 136) 11.2%,
            rgb(128, 162, 245) 91.1%);
    --gradient-background-170: linear-gradient(109.6deg,
            rgb(121, 203, 202) 11.2%,
            rgb(119, 161, 211) 91.1%);
    --gradient-background-171: radial-gradient(755px at 10.1% 95.3%,
            rgb(242, 188, 141) 0%,
            rgb(242, 159, 141) 100.2%);
    --gradient-background-172: radial-gradient(929px at 0.6% 1.3%,
            rgb(248, 251, 10) 0%,
            rgb(248, 47, 47) 82.6%);
    --gradient-background-173: linear-gradient(110.1deg,
            rgb(34, 126, 34) 2.9%,
            rgb(168, 251, 60) 90.3%);
    --gradient-background-174: radial-gradient(465px at -15.1% -25%,
            rgb(17, 130, 193) 0%,
            rgb(67, 166, 238) 49%,
            rgb(126, 203, 244) 90.2%);
    --gradient-background-175: radial-gradient(422px at -10.3% 110.7%,
            rgb(219, 76, 180) 9.5%,
            rgb(231, 119, 209) 50.8%,
            rgb(255, 180, 241) 88.5%);
    --gradient-background-176: radial-gradient(circle at -0.1% 1.8%,
            rgba(255, 77, 77, 0.7) 0%,
            rgba(255, 184, 129, 0.34) 100.2%);
    --gradient-background-177: linear-gradient(102.3deg,
            rgb(147, 39, 143) 5.9%,
            rgb(234, 172, 232) 64%,
            rgb(246, 219, 245) 89%);
    --gradient-background-178: linear-gradient(109.6deg,
            rgb(48, 207, 208) 11.2%,
            rgb(51, 8, 103) 92.5%);
    --gradient-background-179: radial-gradient(circle at 10% 20%,
            rgb(253, 101, 133) 0%,
            rgb(255, 211, 165) 90%);
    --gradient-background-180: linear-gradient(110.6deg,
            rgb(179, 157, 219) 7%,
            rgb(150, 159, 222) 47.7%,
            rgb(24, 255, 255) 100.6%);
    --gradient-background-181: linear-gradient(114.2deg,
            rgb(121, 194, 243) 22.6%,
            rgb(255, 180, 239) 67.7%);
    --gradient-background-182: linear-gradient(143.3deg,
            rgb(216, 27, 96) 33.1%,
            rgb(237, 107, 154) 74.9%);
    --gradient-background-183: linear-gradient(100.5deg,
            rgb(148, 146, 236) 17.7%,
            rgb(245, 194, 194) 76.1%);
    --gradient-background-184: radial-gradient(321px at 8.3% 75.7%,
            rgb(209, 247, 241) 0%,
            rgb(249, 213, 213) 81%);
    --gradient-background-185: linear-gradient(109.6deg,
            rgb(177, 173, 219) 11.2%,
            rgb(245, 226, 226) 91.1%);
    --gradient-background-186: linear-gradient(359deg,
            rgb(150, 192, 255) -17.7%,
            rgb(255, 180, 161) 101.5%);
    --gradient-background-187: radial-gradient(1294px at -15.5% 23.8%,
            rgb(255, 206, 149) 0%,
            rgb(247, 92, 92) 44.9%,
            rgba(108, 0, 96, 0.97) 93.8%);
    --gradient-background-188: radial-gradient(circle at 10% 20%,
            rgb(147, 230, 241) 0%,
            rgb(145, 192, 241) 45.5%);
    --gradient-background-189: radial-gradient(344px at 1.4% 0%,
            rgb(242, 185, 252) 19.3%,
            rgb(250, 254, 190) 80.7%);
    --gradient-background-190: linear-gradient(99deg,
            rgb(255, 166, 0) 14.7%,
            rgb(255, 99, 97) 73%);
    --gradient-background-191: radial-gradient(circle at 10% 20%,
            rgb(255, 37, 174) 0%,
            rgb(241, 147, 55) 53.4%,
            rgb(250, 237, 56) 99.5%);
    --gradient-background-192: radial-gradient(circle at 10% 20%,
            rgb(62, 133, 238) 1.1%,
            rgb(227, 137, 240) 43.7%,
            rgb(243, 193, 124) 89.7%);
    --gradient-background-193: radial-gradient(673px at 10% 20%,
            rgb(255, 220, 163) 0%,
            rgb(129, 255, 239) 48.5%,
            rgb(139, 172, 251) 97.8%);
    --gradient-background-194: radial-gradient(circle at 10% 20%,
            rgb(163, 175, 243) 0%,
            rgb(220, 182, 232) 100.2%);
    --gradient-background-195: linear-gradient(95.2deg,
            rgb(173, 252, 234) 26.8%,
            rgb(192, 229, 246) 64%);
    --gradient-background-196: linear-gradient(109.1deg,
            rgb(181, 73, 91) 7.1%,
            rgb(225, 107, 140) 86.4%);
    --gradient-background-197: radial-gradient(circle at 10% 20%,
            rgb(226, 37, 37) 0%,
            rgb(211, 49, 49) 82.8%);
    --gradient-background-198: linear-gradient(112.4deg,
            rgb(169, 28, 115) 21.6%,
            rgb(219, 112, 54) 92.2%);
    --gradient-background-199: linear-gradient(292.9deg,
            rgb(254, 105, 241) 28.8%,
            rgb(182, 44, 248) 70.4%);
    --gradient-background-200: linear-gradient(109.5deg,
            rgb(76, 221, 242) 11.2%,
            rgb(92, 121, 255) 91.1%);
    --gradient-background-201: radial-gradient(993px at 0.5% 50.5%,
            rgba(137, 171, 245, 0.37) 0%,
            rgb(245, 247, 252) 100.2%);
    --gradient-background-202: radial-gradient(circle at 3.1% 8.2%,
            rgb(248, 250, 107) 0%,
            rgb(238, 148, 148) 98.2%);
    --gradient-background-203: linear-gradient(89.2deg,
            rgb(191, 241, 236) 22.3%,
            rgb(109, 192, 236) 84.1%);
    --gradient-background-204: radial-gradient(circle at 5.3% 17.2%,
            rgb(255, 208, 253) 0%,
            rgb(255, 237, 216) 90%);
    --gradient-background-205: radial-gradient(circle at 11.7% 80.6%,
            rgb(249, 185, 255) 0%,
            rgb(177, 172, 255) 49.3%,
            rgb(98, 203, 255) 89%);
    --gradient-background-206: linear-gradient(89.9deg,
            rgba(178, 253, 238, 0.96) -8.1%,
            rgb(207, 244, 254) 26.3%,
            rgba(207, 244, 254, 0.48) 47.5%,
            rgba(254, 219, 243, 0.63) 61.5%,
            rgb(254, 219, 243) 78.7%,
            rgb(254, 207, 210) 109.2%);
    --gradient-background-207: radial-gradient(circle at 10% 20%,
            rgba(234, 249, 249, 0.67) 0.1%,
            rgba(239, 249, 251, 0.63) 90.1%);
    --gradient-background-208: radial-gradient(972.6px at 10% 20%,
            rgb(243, 0, 75) 0%,
            rgb(255, 93, 75) 90%);
    --gradient-background-209: radial-gradient(circle at 10% 20%,
            rgb(255, 252, 200) 0%,
            rgb(255, 247, 94) 90%);
    --gradient-background-210: radial-gradient(691px at 23.3% 17.5%,
            rgba(241, 122, 59, 0.91) 0%,
            rgb(249, 224, 196) 72.3%);
    --gradient-background-211: linear-gradient(135.9deg,
            rgb(109, 25, 252) 16.4%,
            rgb(125, 31, 165) 56.1%);
    --gradient-background-212: radial-gradient(circle at 1.5% 1.4%,
            rgb(159, 227, 255) 0%,
            rgb(255, 177, 219) 100.2%);
    --gradient-background-213: radial-gradient(1093px at -13.5% -13.6%,
            rgb(254, 192, 193) 6.2%,
            rgb(0, 67, 105) 98.8%);
    --gradient-background-214: radial-gradient(944px at 6.9% 46.3%,
            rgb(254, 192, 193) 0%,
            rgb(254, 192, 193) 0%,
            rgb(0, 67, 105) 100.2%);
    --gradient-background-215: radial-gradient(966px at 6.9% 10.8%,
            rgb(92, 123, 237) 0%,
            rgb(147, 186, 252) 90%);
    --gradient-background-216: radial-gradient(880px at -0.7% 57.1%,
            rgb(202, 149, 149) 0%,
            rgb(239, 215, 177) 14.3%,
            rgb(239, 239, 177) 27.4%,
            rgb(191, 239, 177) 40.1%,
            rgb(177, 239, 217) 48.7%,
            rgb(177, 238, 239) 56.7%,
            rgb(177, 180, 239) 73.2%,
            rgb(224, 177, 239) 89.8%,
            rgb(239, 177, 231) 100.2%);
    --gradient-background-217: radial-gradient(circle at 0.8% 3.1%,
            rgb(255, 188, 224) 0%,
            rgb(170, 165, 255) 46%,
            rgb(165, 255, 205) 100.2%);
    --gradient-background-218: linear-gradient(89.8deg,
            rgb(204, 156, 223) 0.3%,
            rgb(155, 219, 245) 20.4%,
            rgb(245, 183, 208) 40.2%,
            rgb(250, 186, 98) 62.9%,
            rgb(234, 238, 240) 81.9%,
            rgb(250, 245, 171) 99.2%);
    --gradient-background-219: linear-gradient(90.1deg,
            rgb(158, 252, 203) 16.8%,
            rgb(63, 100, 255) 105.2%);
    --gradient-background-220: linear-gradient(90deg,
            rgb(255, 157, 129) 24.3%,
            rgb(255, 78, 78) 78.3%);
    --gradient-background-221: linear-gradient(90.4deg,
            rgb(255, 220, 163) 21.2%,
            rgb(129, 255, 239) 90.7%);
    --gradient-background-222: radial-gradient(circle at 10% 20%,
            rgb(249, 248, 113) 0%,
            rgb(240, 221, 254) 90%);
    --gradient-background-223: radial-gradient(circle at 22.4% 21.7%,
            rgb(4, 189, 228) 0%,
            rgb(2, 83, 185) 100.2%);
    --gradient-background-224: linear-gradient(177.9deg,
            rgb(255, 228, 254) 5.3%,
            rgb(255, 228, 254) 5.3%,
            rgb(188, 132, 173) 94.7%);
    --gradient-background-225: radial-gradient(939px at 94.7% 50%,
            rgb(0, 178, 169) 0%,
            rgb(0, 106, 101) 76.9%);
    --gradient-background-226: linear-gradient(110.4deg,
            rgb(255, 196, 254) 9.6%,
            rgb(251, 229, 123) 91%);
    --gradient-background-227: radial-gradient(534px at 7.8% 17.6%,
            rgb(254, 253, 112) 1.7%,
            rgb(248, 143, 111) 91.8%);
    --gradient-background-228: linear-gradient(109.6deg,
            rgb(255, 24, 134) 11.2%,
            rgb(252, 232, 68) 52%,
            rgb(53, 178, 239) 100.2%);
    --gradient-background-229: linear-gradient(181.3deg,
            rgb(134, 15, 15) 24.9%,
            rgb(183, 10, 10) 46.9%,
            rgb(210, 70, 0) 85.1%);
    --gradient-background-230: radial-gradient(circle at 10% 20%,
            rgb(253, 203, 50) 0%,
            rgb(244, 56, 98) 100.2%);
    --gradient-background-231: linear-gradient(109.6deg,
            rgb(102, 203, 149) 11.2%,
            rgb(39, 210, 175) 98.7%);
    --gradient-background-232: radial-gradient(circle at 10% 20%,
            rgb(255, 236, 231) 0%,
            rgb(255, 143, 108) 90.1%);
    --gradient-background-233: radial-gradient(circle at 10% 20%,
            rgb(255, 7, 7) 0%,
            rgb(255, 41, 41) 100.7%);
    --gradient-background-234: linear-gradient(112.1deg,
            rgb(32, 38, 57) 11.4%,
            rgb(63, 76, 119) 70.2%);
    --gradient-background-235: radial-gradient(circle at 10% 20%,
            rgb(130, 205, 221) 0%,
            rgb(255, 247, 153) 90%);
    --gradient-background-236: linear-gradient(109.6deg,
            rgb(44, 83, 131) 18.9%,
            rgb(95, 175, 201) 91.1%);
    --gradient-background-237: radial-gradient(circle at 14.2% 27.5%,
            rgb(104, 199, 255) 0%,
            rgb(181, 126, 255) 90%);
    --gradient-background-238: linear-gradient(268deg,
            rgb(255, 105, 180) 4.1%,
            rgb(255, 174, 215) 74.3%);
    --gradient-background-239: linear-gradient(44.8deg,
            rgba(255, 136, 102, 0.67) -53.1%,
            rgba(255, 221, 136, 0.28) 49%);
    --gradient-background-240: radial-gradient(830px at 95.6% -5%,
            rgb(244, 89, 128) 0%,
            rgb(223, 23, 55) 90%);
    --gradient-background-241: linear-gradient(358.3deg,
            rgb(255, 82, 168) 12.9%,
            rgb(177, 118, 240) 134.3%);
    --gradient-background-242: radial-gradient(590px at 8.2% 13.8%,
            rgb(18, 35, 60) 0%,
            rgb(187, 187, 187) 90%);
    --gradient-background-243: linear-gradient(109.8deg,
            rgb(62, 5, 116) -5.2%,
            rgb(41, 14, 151) -5.2%,
            rgb(216, 68, 148) 103.3%);
    --gradient-background-244: radial-gradient(757px at 14.6% 44.8%,
            rgb(60, 77, 115) 27.7%,
            rgb(0, 194, 209) 95.9%);
    --gradient-background-245: radial-gradient(circle at 5.6% 54.5%,
            rgb(47, 71, 79) 0%,
            rgb(159, 188, 198) 83.6%);
    --gradient-background-246: linear-gradient(109.7deg,
            rgb(202, 50, 50) 5.7%,
            rgb(252, 195, 12) 92.4%);
    --gradient-background-247: linear-gradient(109.7deg,
            rgb(229, 0, 57) 1.8%,
            rgb(162, 91, 182) 90.2%);
    --gradient-background-248: radial-gradient(circle at 24.7% 28.8%,
            rgb(247, 183, 29) 1.9%,
            rgb(253, 239, 150) 97.7%);
    --gradient-background-249: radial-gradient(266px at 12% 29.3%,
            rgba(58, 219, 154, 0.93) 2%,
            rgb(153, 228, 208) 38.6%,
            rgba(142, 246, 219, 0.82) 73.9%,
            rgb(253, 255, 238) 100.7%);
    --gradient-background-250: radial-gradient(448px at 88.2% 27%,
            rgb(247, 132, 189) 73.4%,
            rgb(187, 187, 187) 100.2%);
    --gradient-background-251: linear-gradient(78.1deg,
            rgb(177, 14, 236) 5.5%,
            rgb(255, 19, 15) 92.8%);
    --gradient-background-252: linear-gradient(103.3deg,
            rgb(190, 11, 215) -18.7%,
            rgb(246, 234, 11) 90.9%);
    --gradient-background-253: linear-gradient(65.4deg,
            rgb(56, 248, 249) -9.1%,
            rgb(213, 141, 240) 48%,
            rgb(249, 56, 152) 111.1%);
    --gradient-background-254: radial-gradient(circle at 10% 20%,
            rgb(111, 111, 219) 0%,
            rgb(182, 109, 246) 72.4%);
    --gradient-background-255: radial-gradient(circle at 10% 20%,
            rgb(7, 121, 222) 0%,
            rgb(20, 72, 140) 90%);
    --gradient-background-256: linear-gradient(111.1deg,
            rgb(0, 40, 70) -4.8%,
            rgb(255, 115, 115) 82.7%,
            rgb(255, 175, 123) 97.2%);
    --gradient-background-257: radial-gradient(circle at 10% 20%,
            rgb(249, 57, 170) 9.8%,
            rgb(134, 176, 255) 94.9%);
    --gradient-background-258: linear-gradient(109.6deg,
            rgb(101, 58, 150) 29.9%,
            rgb(168, 141, 194) 99.9%);
    --gradient-background-259: linear-gradient(153.4deg,
            rgb(160, 250, 141) 25.4%,
            rgb(253, 217, 182) 59%);
    --gradient-background-260: radial-gradient(1224px at 10.6% 8.8%,
            rgb(255, 255, 255) 0%,
            rgb(153, 202, 251) 100.2%);
    --gradient-background-261: linear-gradient(110.3deg,
            rgb(72, 85, 99) 8.8%,
            rgb(127, 146, 166) 95.1%);
    --gradient-background-262: radial-gradient(circle at 10% 20%,
            rgb(243, 94, 131) 17.1%,
            rgb(236, 212, 80) 89.7%);
    --gradient-background-263: radial-gradient(636.6px at 10% 20%,
            rgb(243, 94, 125) 0%,
            rgb(213, 200, 111) 90%);
    --gradient-background-264: radial-gradient(878px at 48.2% -24.3%,
            rgba(253, 157, 218, 0.95) 100.2%,
            rgb(187, 187, 187) 100.2%);
    --gradient-background-265: linear-gradient(155deg,
            rgb(216, 173, 249) 121.3%,
            rgb(187, 187, 187) 121.3%);
    --gradient-background-266: radial-gradient(609.6px at 21.5% 78.8%,
            rgb(37, 99, 219) 0%,
            rgb(233, 45, 181) 89.9%);
    --gradient-background-267: radial-gradient(654px at 0.6% 48%,
            rgb(12, 170, 255) 0%,
            rgb(151, 255, 129) 86.3%);
    --gradient-background-268: radial-gradient(603px at 32.8% 51%,
            rgb(253, 185, 51) 0%,
            rgb(253, 211, 117) 90.3%);
    --gradient-background-269: radial-gradient(circle at 10% 20%,
            rgb(174, 24, 255) 0%,
            rgb(246, 134, 255) 90%);
    --gradient-background-270: linear-gradient(110.9deg,
            rgb(44, 221, 239) 1.1%,
            rgb(14, 191, 210) 37.6%,
            rgb(8, 127, 140) 99.2%);
    --gradient-background-271: linear-gradient(180.3deg,
            rgb(214, 224, 255) 37.2%,
            rgb(254, 168, 168) 137.3%);
    --gradient-background-272: radial-gradient(circle at 10% 20%,
            rgb(0, 52, 89) 0%,
            rgb(0, 168, 232) 90%);
    --gradient-background-273: linear-gradient(109.6deg,
            rgb(255, 207, 84) 11.2%,
            rgb(255, 158, 27) 91.1%);
    --gradient-background-274: radial-gradient(circle at 10% 20%,
            rgb(254, 113, 210) 0%,
            rgb(184, 96, 255) 90%);
    --gradient-background-275: radial-gradient(circle at -1% 57.5%,
            rgb(19, 170, 82) 0%,
            rgb(0, 102, 43) 90%);
    --gradient-background-276: radial-gradient(788px at 0.7% 3.4%,
            rgb(164, 231, 192) 0%,
            rgb(255, 255, 255) 90%);
    --gradient-background-277: radial-gradient(circle at 10% 20%,
            rgb(254, 255, 165) 0%,
            rgb(255, 232, 182) 90%);
    --gradient-background-278: radial-gradient(circle at 10% 20%,
            rgb(255, 214, 171) 0%,
            rgb(255, 182, 182) 90%);
    --gradient-background-279: radial-gradient(987px at 99% 2%,
            rgb(22, 183, 229) 0%,
            rgb(9, 54, 103) 90%);
    --gradient-background-280: linear-gradient(99.6deg,
            rgb(112, 128, 152) 10.6%,
            rgb(242, 227, 234) 32.9%,
            rgb(234, 202, 213) 52.7%,
            rgb(220, 227, 239) 72.8%,
            rgb(185, 205, 227) 81.1%,
            rgb(154, 180, 212) 102.4%);
    --gradient-background-281: radial-gradient(circle at 50.4% 50.5%,
            rgb(251, 32, 86) 0%,
            rgb(135, 2, 35) 90%);
    --gradient-background-282: linear-gradient(90.3deg,
            rgb(255, 255, 255) 3%,
            rgb(235, 158, 98) 34.6%,
            rgb(177, 10, 10) 63.7%,
            rgb(0, 0, 0) 102%);
    --gradient-background-283: linear-gradient(179.9deg,
            rgb(217, 164, 4) 10.7%,
            rgb(242, 116, 5) 113.2%);
    --gradient-background-284: radial-gradient(867px at -5.8% 1.8%,
            rgb(255, 255, 255) 0%,
            rgb(7, 0, 216) 100.3%);
    --gradient-background-285: radial-gradient(1048.2px at -9.8% 4.7%,
            rgb(146, 255, 192) 8.5%,
            rgb(0, 38, 97) 72.9%);
    --gradient-background-286: radial-gradient(circle at 7.2% 19%,
            rgb(120, 0, 0) 0%,
            rgb(239, 75, 75) 100.2%);
    --gradient-background-287: linear-gradient(88.7deg,
            rgb(144, 254, 229) -17.1%,
            rgb(91, 193, 239) 40.4%,
            rgb(119, 94, 173) 115.3%);
    --gradient-background-288: radial-gradient(circle at 47.4% 55%,
            rgb(218, 61, 61) 0%,
            rgba(170, 13, 71, 0.81) 90%);
    --gradient-background-289: linear-gradient(109.6deg,
            rgb(9, 9, 121) 11.2%,
            rgb(144, 6, 161) 53.7%,
            rgb(0, 212, 255) 100.2%);
    --gradient-background-290: radial-gradient(1023px at 3.1% 6.9%,
            rgb(255, 255, 255) 0%,
            rgb(205, 40, 83) 74.9%);
    --gradient-background-291: linear-gradient(180.2deg,
            rgb(128, 174, 248) 14.1%,
            rgb(50, 118, 227) 77%);
    --gradient-background-292: radial-gradient(1192px at 21.5% 49.5%,
            rgb(91, 21, 55) 0.1%,
            rgb(0, 0, 0) 100.2%);
    --gradient-background-293: linear-gradient(178.5deg,
            rgb(122, 231, 248) 6.5%,
            rgb(86, 118, 191) 90.9%);
    --gradient-background-294: radial-gradient(circle at 10% 20%,
            rgb(50, 172, 109) 0%,
            rgb(209, 251, 155) 100.2%);
    --gradient-background-295: linear-gradient(89.9deg,
            rgb(208, 246, 255) 0.1%,
            rgb(255, 237, 237) 47.9%,
            rgb(255, 255, 231) 100.2%);
    --gradient-background-296: linear-gradient(179.2deg,
            rgb(34, 34, 34) 0%,
            rgb(8, 0, 153) 29.7%,
            rgb(118, 6, 166) 63.4%,
            rgba(233, 0, 64, 0.58) 100.1%);
    --gradient-background-297: linear-gradient(109.6deg,
            rgb(33, 25, 180) 11.2%,
            rgb(253, 29, 29) 55.2%,
            rgb(252, 176, 69) 91.1%);
    --gradient-background-298: linear-gradient(109.6deg,
            rgb(232, 252, 252) 11.2%,
            rgb(252, 215, 134) 56.2%,
            rgb(247, 124, 124) 100.2%);
    --gradient-background-299: radial-gradient(circle at 10% 20%,
            rgb(246, 98, 128) 0%,
            rgb(248, 129, 135) 98.3%);
    --gradient-background-300: radial-gradient(circle at 10% 20%,
            rgb(186, 190, 245) 0%,
            rgb(192, 192, 245) 33.1%,
            rgb(218, 203, 246) 90%);
    --gradient-background-301: radial-gradient(circle at 10% 20%,
            rgb(132, 81, 161) 0%,
            rgba(132, 81, 161, 0.83) 90%);
    --gradient-background-302: radial-gradient(426px at 77.9% 31.3%,
            rgb(255, 229, 131) 0%,
            rgb(249, 119, 0) 90%);
    --gradient-background-303: linear-gradient(108.1deg,
            rgb(167, 220, 225) 11.2%,
            rgb(217, 239, 242) 88.9%);
    --gradient-background-304: linear-gradient(181deg,
            rgb(249, 97, 100) 0.4%,
            rgb(250, 126, 129) 89.6%);
    --gradient-background-305: linear-gradient(112.9deg,
            rgb(112, 255, 151) 6.2%,
            rgb(70, 195, 255) 99.7%);
    --gradient-background-306: radial-gradient(939px at 0.7% 2.4%,
            rgb(116, 106, 255) 0%,
            rgb(221, 221, 221) 100.2%);
    --gradient-background-307: linear-gradient(138deg,
            rgb(32, 201, 255) 36.7%,
            rgb(0, 8, 187) 84.4%,
            rgb(255, 255, 255) 119.7%);
    --gradient-background-308: linear-gradient(109.6deg,
            rgb(123, 90, 224) 11.2%,
            rgb(164, 46, 253) 32.6%,
            rgb(213, 56, 234) 62.7%,
            rgb(251, 138, 52) 100.2%);
    --gradient-background-309: radial-gradient(circle at -0.6% 44.4%,
            rgb(142, 252, 152) 0%,
            rgb(107, 214, 250) 90%);
    --gradient-background-310: radial-gradient(997px at 99.9% 96.8%,
            rgb(132, 255, 199) 0%,
            rgb(137, 248, 255) 90%);
    --gradient-background-311: radial-gradient(979px at 1.5% 3%,
            rgb(255, 198, 147) 0%,
            rgb(255, 246, 233) 100.2%);
    --gradient-background-312: radial-gradient(410px at 49.5% 99%,
            rgb(250, 208, 196) 0%,
            rgb(255, 209, 255) 99.5%);
    --gradient-background-313: linear-gradient(109.6deg,
            rgb(247, 202, 201) 20.6%,
            rgb(146, 168, 209) 85.9%);
    --gradient-background-314: linear-gradient(123.5deg,
            rgb(244, 219, 251) 29.3%,
            rgb(255, 214, 214) 67.1%);
    --gradient-background-315: radial-gradient(827px at 47.3% 48%,
            rgb(255, 255, 255) 0%,
            rgb(138, 192, 216) 90%);
    --gradient-background-316: radial-gradient(801px at 4.2% 16.4%,
            rgba(104, 211, 218, 0.99) 0%,
            rgb(184, 77, 235) 88.8%);
    --gradient-background-317: linear-gradient(171.8deg,
            rgb(5, 111, 146) 13.5%,
            rgb(6, 57, 84) 78.6%);
    --gradient-background-318: radial-gradient(circle at 50.1% 52.3%,
            rgb(255, 231, 98) 58.2%,
            rgb(251, 212, 0) 90.1%);
    --gradient-background-319: linear-gradient(69.7deg,
            rgb(216, 81, 82) 40%,
            rgb(154, 27, 69) 100.1%);
    --gradient-background-320: radial-gradient(circle at 50.3% 44.5%,
            rgb(116, 147, 179) 0%,
            rgb(62, 83, 104) 100.2%);
    --gradient-background-321: radial-gradient(753.6px at 10% 20%,
            rgb(248, 167, 221) 0%,
            rgb(230, 192, 254) 41%,
            rgb(169, 217, 243) 90%);
    --gradient-background-322: radial-gradient(circle at 10% 20%,
            rgb(246, 187, 187) 0%,
            rgb(249, 219, 217) 90%);
    --gradient-background-323: linear-gradient(89.9deg,
            rgb(255, 18, 18) -2.8%,
            rgb(252, 246, 19) 50.8%,
            rgb(0, 159, 8) 107.9%);
    --gradient-background-324: radial-gradient(circle at 0.2% 1.8%,
            rgb(255, 90, 8) 0%,
            rgb(88, 0, 0) 100.2%);
    --gradient-background-325: radial-gradient(656px at 10.1% 16%,
            rgba(249, 254, 0, 0.8) 1.1%,
            rgba(253, 95, 203, 0.49) 100%);
    --gradient-background-326: radial-gradient(circle at -3.3% 48%,
            rgb(141, 146, 239) 0%,
            rgb(99, 229, 254) 90%);
    --gradient-background-327: linear-gradient(111.5deg,
            rgb(249, 230, 1) 9.9%,
            rgb(249, 144, 1) 19.4%,
            rgb(255, 22, 22) 29.2%,
            rgb(255, 22, 133) 37.7%,
            rgb(255, 22, 197) 47.7%,
            rgb(232, 22, 255) 53.9%,
            rgb(162, 22, 255) 60%,
            rgb(80, 22, 255) 68.8%,
            rgb(22, 104, 255) 74.2%,
            rgb(22, 168, 255) 77.6%,
            rgb(22, 255, 220) 86.7%,
            rgb(22, 255, 179) 92.5%,
            rgb(22, 255, 109) 97.1%,
            rgb(92, 255, 22) 103.5%);
    --gradient-background-328: linear-gradient(91.9deg,
            rgb(94, 124, 121) 4.4%,
            rgb(64, 224, 208) 89%);
    --gradient-background-329: linear-gradient(93.1deg,
            rgb(238, 254, 183) 19.1%,
            rgb(169, 254, 222) 53.9%,
            rgb(90, 222, 255) 92%);
    --gradient-background-330: linear-gradient(92.6deg,
            rgb(127, 247, 193) -12%,
            rgb(49, 245, 255) 43%,
            rgb(110, 123, 213) 86.5%);
    --gradient-background-331: linear-gradient(90.4deg,
            rgb(244, 199, 62) -3.8%,
            rgb(244, 62, 62) 46.8%,
            rgb(245, 61, 195) 98.8%);
    --gradient-background-332: linear-gradient(87.9deg,
            rgb(140, 253, 242) 9.7%,
            rgb(81, 162, 228) 45.5%,
            rgb(154, 16, 154) 92.5%);
    --gradient-background-333: radial-gradient(369px at 10% 20%,
            rgba(245, 76, 76, 0.8) 0.7%,
            rgba(243, 203, 129, 0.9) 86.1%);
    --gradient-background-334: radial-gradient(circle at 2.9% 7.7%,
            rgb(164, 14, 176) 0%,
            rgb(254, 101, 101) 90%);
    --gradient-background-335: linear-gradient(67.6deg,
            rgb(225, 242, 254) -2.8%,
            rgb(193, 224, 250) 44.6%,
            rgb(19, 116, 197) 102.4%);
    --gradient-background-336: radial-gradient(circle at 10% 20%,
            rgb(1, 150, 21) 0%,
            rgb(198, 239, 146) 90%);
    --gradient-background-337: radial-gradient(738px at 7.4% 47.9%,
            rgb(225, 63, 79) 0%,
            rgb(245, 61, 79) 47%,
            rgb(247, 161, 175) 90.2%);
    --gradient-background-338: linear-gradient(109.6deg,
            rgb(5, 85, 84) 11.2%,
            rgb(64, 224, 208) 91.1%);
    --gradient-background-339: radial-gradient(circle at 10% 20%,
            rgba(0, 149, 218, 0.85) 9.9%,
            rgb(56, 80, 114) 100.3%);
    --gradient-background-340: linear-gradient(109.6deg,
            rgb(163, 217, 207) 11.2%,
            rgb(4, 178, 217) 100.2%);
    --gradient-background-341: linear-gradient(rgb(21, 13, 107) 1.1%,
            rgb(188, 16, 80) 130.5%);
    --gradient-background-342: linear-gradient(110.7deg,
            rgb(255, 81, 47) 1.7%,
            rgb(255, 167, 47) 8.2%,
            rgb(218, 253, 1) 16.2%,
            rgb(98, 234, 20) 23.4%,
            rgb(69, 193, 42) 32.8%,
            rgb(7, 249, 149) 43.7%,
            rgb(6, 200, 217) 55.3%,
            rgb(18, 51, 233) 65.5%,
            rgb(122, 59, 202) 74.5%,
            rgb(231, 7, 249) 82.3%,
            rgb(202, 59, 163) 91.4%);
    --gradient-background-343: radial-gradient(523px at 7.1% 19.3%,
            rgb(147, 15, 255) 2%,
            rgb(5, 49, 255) 100.7%);
    --gradient-background-344: linear-gradient(107.2deg,
            rgb(150, 15, 15) 10.6%,
            rgb(247, 0, 0) 91.1%);
    --gradient-background-345: linear-gradient(110.2deg,
            rgb(54, 197, 240) 8.2%,
            rgb(74, 21, 75) 92.4%);
    --gradient-background-346: linear-gradient(109.6deg,
            rgba(227, 236, 62, 0.68) 11.2%,
            rgba(230, 29, 58, 0.78) 91.3%);
    --gradient-background-347: linear-gradient(109.6deg,
            rgba(98, 210, 141, 0.88) 11.2%,
            rgba(234, 245, 45, 0.79) 88%);
    --gradient-background-348: linear-gradient(178.3deg,
            rgb(188, 251, 255) 11.5%,
            rgb(255, 253, 14) 103.1%);
    --gradient-background-349: radial-gradient(circle at 10% 20%,
            rgb(251, 221, 19) 0.1%,
            rgb(255, 153, 1) 90%);
    --gradient-background-350: radial-gradient(981px at 14.6% 17.7%,
            rgba(255, 101, 91, 0.85) 2.7%,
            rgba(121, 32, 82, 0.78) 97.2%);
    --gradient-background-351: radial-gradient(732px at 96.2% 89.9%,
            rgb(70, 66, 159) 0%,
            rgb(187, 43, 107) 92%);
    --gradient-background-352: linear-gradient(87.6deg,
            rgb(241, 16, 48) 1.7%,
            rgb(242, 171, 33) 13.3%,
            rgb(226, 242, 33) 24.5%,
            rgb(12, 207, 22) 34.8%,
            rgb(75, 205, 200) 47.2%,
            rgb(8, 39, 211) 58.9%,
            rgb(150, 101, 229) 67.6%,
            rgb(80, 6, 198) 78.1%,
            rgb(246, 98, 248) 89.2%,
            rgb(248, 98, 181) 103.3%,
            rgb(228, 129, 144) 113.9%);
    --gradient-background-353: radial-gradient(circle at 10% 20%,
            rgb(6, 123, 239) 14.2%,
            rgb(219, 115, 249) 89.5%);
    --gradient-background-354: linear-gradient(109.2deg,
            rgb(107, 52, 255) 16.5%,
            rgb(51, 159, 247) 81%);
    --gradient-background-355: radial-gradient(circle at 0.1% 53.8%,
            rgb(255, 182, 172) 0%,
            rgb(255, 123, 172) 100.2%);
    --gradient-background-356: linear-gradient(179deg,
            rgb(255, 129, 27) -27.5%,
            rgb(245, 255, 56) 94.7%);
    --gradient-background-357: linear-gradient(109.6deg,
            rgba(113, 14, 51, 0.83) 15.2%,
            rgba(217, 43, 23, 0.95) 96.8%);
    --gradient-background-358: linear-gradient(113.3deg,
            rgb(134, 209, 228) -1.8%,
            rgb(60, 80, 115) 86.4%);
    --gradient-background-359: linear-gradient(109.6deg,
            rgb(114, 210, 39) 11.3%,
            rgb(182, 235, 141) 100.2%);
    --gradient-background-360: radial-gradient(862px at 6% 18%,
            rgb(21, 219, 149) 9.4%,
            rgb(26, 35, 160) 83.6%);
}